@import "variables";
@import "mixins";

.excel__table{

  position: absolute;
  top:$header-height + $toolbar-height + $formula-height;
  left: 0;
  right: 0;
  overflow-x: auto;
  padding-bottom: 2px;

    & .row {
      display: flex;
      min-height: 20px;
      height: $row-height;

    }

    & .row__info{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: $info-cell-width;
      height:100%;
      border: 1px solid $border-color;
      background: #f8f9fa;
      border-top: none;
    }

    & .row__data {
      display: flex;
    }

    & .column{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f8f9fa;
      min-width: 40px;
      width: $cell-width;
      border: 1px solid $border-color;
      border-top: 0;
      border-left: 0;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none;   /* Chrome/Safari/Opera */
      -khtml-user-select: none;    /* Konqueror */
      -moz-user-select: none;      /* Firefox */
      -ms-user-select: none;       /* Internet Explorer/Edge */
      user-select: none;
    }

    & .cell{
      min-width: 40px;
      width: $cell-width;
      height: 100%;
      padding: 5px;
      border: 1px solid #e2e3e3;
      border-top: 0;
      border-left: 0;
      white-space: nowrap;
      outline: none;

    }

    & .active{
      border-right: 1px solid $primary-color;
    }

    & .active-row{
      border-bottom: 1px solid $primary-color;
    }

    & .selected{
      outline: 2px solid $primary-color;
      border: 0;
    }

  & .col-resize, & .row-resize{
    position: absolute;
    bottom:0;
    right: 0;
    background: $primary-color;
    opacity: 0;

    &:hover, &:active{
      opacity: 1;
      z-index:1000;
    }
  }


    & .col-resize{
      top:0;
      width: 4px;

      &:hover, &:active {
        cursor:col-resize;
      }
    }

  & .row-resize{
    left:0;
    height: 4px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;


    &:hover {
      cursor:row-resize;
    }
  }



}
